extends layout

block content

    .panel.panel-default
        .panel-heading
            a.btn.btn-primary(href="/admin/sections") Sections List
        form(action="/admin/section/#{section.id}", enctype="multipart/form-data", method="post")
            .panel-body
                if errors
                    each error in errors
                        .alert.alert-warning.alert-dismissable
                            button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
                            | #{error}
                .col-md-8.col-md-offset-2
                    .row
                        .form-group.col-md-6
                            label Name
                            input.form-control(type="text", name="name", value="#{section.name || ''}", autocomplete="off")
                    ul.nav.nav-pills
                        each locale, i in locales()
                            li(class=i==0?"active":""): a(href="#lang_#{locale.locale}", data-toggle="pill") #{locale.locale}

                    div.tab-content
                        each locale, i in locales()
                            div.tab-pane(class=i==0?"active":"", id="lang_#{locale.locale}")
                                .row
                                    .form-group.col-md-12
                                        label Text
                                        textarea.form-control(name="text[#{locale.locale}]") #{_o(section.text, locale.locale)}
                    .row.content-images
                        .form-group.col-md-6
                            label Images
                            each image in images
                                .row
                                    .col-md-4
                                        img(src="/uploads/#{image.file}" width="100")
                                    .col-md-8
                                        | order &nbsp;
                                        input(type="text", name="order[id#{image.id}]", value="#{image.order || 0}")
                                        br
                                        a.delete(href="/admin/delete-image/#{image.id}") Delete image
                            input#image(type="file", name="image")
            .panel-footer
                button.btn.btn-primary.pull-right(type="submit", tabindex="6") Save
                .clearfix
