extends layout

block content

    .panel.panel-default
        .panel-heading
            a.btn.btn-primary(href="/admin/news") News List
        form(action="/admin/news/edit/#{news.id}", enctype="multipart/form-data", method="post")
            .panel-body
                if errors
                    each error in errors
                        .alert.alert-warning.alert-dismissable
                            button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
                            | #{error}
                .col-md-8.col-md-offset-2
                    ul.nav.nav-pills
                        each locale, i in locales()
                            li(class=i==0?"active":""): a(href="#lang_#{locale.locale}", data-toggle="pill") #{locale.locale}

                    div.tab-content
                        each locale, i in locales()
                            div.tab-pane(class=i==0?"active":"", id="lang_#{locale.locale}")
                                .row
                                    .form-group.col-md-6
                                        label Title
                                        input.form-control(type="text", name="title[#{locale.locale}]", value="#{_o(news.title, locale.locale)}", autocomplete="off")
                                    .form-group.col-md-6
                                        label Sub Title
                                        input.form-control(type="text", name="subTitle[#{locale.locale}]", value="#{_o(news.subTitle, locale.locale)}", autocomplete="off")
                    .row
                        .form-group.col-md-12
                            label(for="link") Link
                            input#link.form-control(type="text", name="link", value="#{news.link}", autocomplete="off")
                    .row
                        .form-group.col-md-6
                            label(for="date") Date
                            | &nbsp;
                            input(type="checkbox", name="dateEnabled", checked=news.date!=0)
                            input#date.form-control(type="text", name="date", value="#{news.date != 0 ? moment(news.date).format('YYYY-MM-DD HH:mm:ss') : ''}", tabindex="4", autocomplete="off")
                    .row.content-images
                          .form-group.col-md-6
                              label Images
                              each image in images
                                  .row
                                      .col-md-4
                                          img(src="/uploads/#{image.file}" width="100")
                                      .col-md-8
                                          | order &nbsp;
                                          input(type="text", name="order[id#{image.id}]", value="#{image.order || 0}")
                                          br
                                          a.delete(href="/admin/delete-image/#{image.id}") Delete image
                              input#image(type="file", name="images")
                          .form-group.col-md-6
                              label(for="image") Image
                              if (news.image)
                                  br
                                  img(src="/uploads/#{news.image}" width="100")
                                  a.delete(href="/admin/news/delete-image/#{news.id}") Delete image
                              input#image(type="file", name="image", tabindex="5")
            .panel-footer
                button.btn.btn-primary.pull-right(type="submit", tabindex="6") Save
                .clearfix
